/* Author: Trevor Freudig
	 File: final_project.css
	 CSC 337 Final Project
	 Purpose: This is the stylesheet for final_project.html */

body {
	background-color: #0ABAFA;
	background-image: url("spaceBackground.jpg");
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-family: "OCR A Std", monospace;
	font-size: 24pt;
	color: black;
	text-align: center;
}

h2 {
	font-family: "OCR A Std", monospace;
	color: black;
	text-align: center;
	text-decoration: underline;
}

h3 {
	font-family: "OCR A Std", monospace;
	color: white;
	text-align: center;
    text-decoration: underline;
}

h4 {
	font-family: "OCR A Std", monospace;
	color: black;
	text-align: center;
}

.scoreBoard {
	height: 150px;
	width: 200px;
	background-color: black;
	border-width: 2px;
	border-color: white;
	border-style: solid;
	border-radius: 20px;
	float: right;
}

#player1 {
	float: left;
	text-align: center;
	font-size: 50px;
	margin-left: 20px;
	height: 65px;
	width: 65px;
	background-color: white;
}

#ai {
	float: right;
	text-align: center;
	font-size: 50px;
	margin-right: 20px;
	height: 65px;
	width: 65px;
	background-color: white;
}

.parent {
	padding-right: 130px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	clear: both;
}

.gameArea {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 350px;
	width: 550px;
	background-color: black;
	border-width: 2px;
	border-color: #CCCCCC;
	border-style: solid;
	border-radius: 20px;
	padding: 8px;
	align-items: center;
}

#canvas {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	outline: white 1px solid;
}

#leaderBoard {
	margin: auto;
	text-align: center;
	height: 550px;
	width: 400px;
	background-color: white;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	border-radius: 20px;
	float: left;
}

.startButton {
	position: absolute;
	margin: auto;
	left: 43%;
	right: 50%;
	width: 80px;
	margin: 5px;
	text-align: center;
}

.quitButton {
	position: absolute;
	margin: auto;
	left: 50%;
	right: 50%;
	width: 80px;
	margin: 5px;
	text-align: center;
}

.data {
	text-align: center;
}

.validators {
	position: fixed;
	right: 0px;
	bottom: 0px;
}